<div class="form-container" >
  <h2>Create new project</h2>
  <form #editFrm="ngForm" (ngSubmit)="update(editFrm)">
    <mat-form-field class="f-w" appearance="standard">
      <mat-label>Project Name</mat-label>
      <input matInput type="text" name="name" id="name" [(ngModel)]="project.projectName" #name="ngModel" required />
      <mat-error *ngIf="name.touched && name.invalid">Name required</mat-error>
    </mat-form-field>
    <mat-form-field class="f-w" appearance="standard">
      <mat-label>Budget</mat-label>
      <input matInput type="text" name="budget" id="budget" [(ngModel)]="project.budget" #budget="ngModel" required />
      <mat-error *ngIf="budget.touched && budget.invalid">Budget required</mat-error>
    </mat-form-field>
    <div class="f-w">
      <button type="reset" mat-raised-button>Reset</button>
      &nbsp;
      <button type="submit" mat-raised-button color="primary" [disabled]="editFrm.invalid"><mat-icon>save_alt</mat-icon> Save</button>
    </div>
  </form>
  <a mat-flat-button [routerLink]="['/projects']" class="mt-1"><mat-icon>west</mat-icon> Back to project list</a>
</div>

