<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list style="margin:0; padding-top:0">
      <a mat-list-item [routerLink]="['/home']"><mat-icon style="margin-right:15px">home</mat-icon> Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/projects']"><mat-icon style="margin-right:15px">category</mat-icon> Projects</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/employees']"><mat-icon style="margin-right:15px">people</mat-icon> Employees</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Client App</span>
    </mat-toolbar>
    <div class="layout-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
